
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
node_modules
/.pnp
.pnp.js
.yarn/
.yarnrc.yml

# testing
/coverage

# next.js
/.next/
/out/
certificates

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
.env.vercel

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# eslint cache
.eslintcache

# idea
*.idea

firebase-service-account.json

# next-video
videos/*
!videos/*.json
!videos/*.js
!videos/*.ts
public/_next-video

# redirect files
src/redirects/redirects-bloom-filter.json
src/redirects/redirects.json
.windsurfrules
.env.production

# claude workflow files
CLAUDE.md
/docs